{% set active = "about" %}
{% extends "layout.html" %}
{% block body %}
      <div class="jumbotron">
        <br>

        Multi-factor-authentication combines an identifier (e.g. your email address) with something you know (a password) and something you have (a token).<br>
        Managing multiple accounts and passwords online is much safer and easier with a password manager, but managing tokens across sites is still hard.<br>
        Why not use something similar for your tokens?<br>
        This app allows you to securely store your tokens in a central location.<br>

        Features include:<br>
        <ul>
          <li> Strong multi-factor authentication including hardware token support <a href="http://fidoalliance.org/about">FIDO/U2F</a> </li>
          <li> Federated login with <a href="https://developers.google.com/+/features/sign-in">Google</a> </li>
          <li> Token sharing </li>
          <li> <a href="https://github.com/kenbreeman/multi-factor">Open-source!</a> </li>
        </ul>
      </div>
{% endblock %}
