{% set active = "signup" %}
{% extends "layout.html" %}
{% block body %}
      <div class="jumbotron">
        <br>
        {% if username %}
        You have successfully logged in with your Google account!<br>
        <br>
        Confirm you wish to create an MFA account:<br>
        <br>
        <button id="createaccount" type="button" class="btn btn-default" aria-label="Left Align">
          <span>Create Account</span>
        </button>

        <script language="javascript">
          $('#createaccount').click(function(){
            $('#createaccount').prop('disabled', true);
            $('#createaccount').html('Creating...');
            
            $.ajax({
              url: '/api/user',
              type: 'PUT',
              timeout: 5000,
              success: function(result) {
                window.location.href = '/tokens';
              },
              error: function(result) {
                alert('ERROR: Unable to create account. Please try again later.')
              }
            });

          });
        </script>

        {% else %}

        We currently support federated login via Google Accounts:<br>
        <br>
        <a href="{{login_url}}"><img src="static/signin.png"></a><br>
        <br>
        {% endif %}

      </div>
{% endblock %}
